<h1>Dead Guy Library System&trade; Catalogue</h1>

<ol>
  <% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.title %></a> <%= book.author %></li>
  <% end %>
</ol>

<p><a href="/books/new">Add a New Book</a></p>