<div class="col-md-12 col-md">
	<h1 class="text-center">DEAD GUY LIBRARY SYSTEM&trade; CATALOGUE</h1>

	<ul class="text-center">
	  <% @books.each do |book| %>
	    <li><a href="/books/<%= book.id %>"><%= book.title %></a> <%= book.author %></li>
	  <% end %>
	</ul>

	<p class="text-center"><a href="/books/new">ADD A NEW BOOK</a></p>
</div>