<h1>Welcome to the Dead Guy Library System&trade;</h1>

<!-- Eventually will be a navbar -->
<ul>
    <li><a href="/books">Catalogue</a></li>
    <li><a href="/libraries">Branches</a></li>
    <li><a href="/patrons">Patrons</a></li>
    <li><a href="/staff-members">Staff Members</a></li>
</ul>