<div class="container v-center">
  <div class="col-md-12 col-md">
		<img src="/images/dgls-white.svg" class="center-block" alt="Responsive image">
		<h1 class="text-center">DEAD GUY LIBRARY SYSTEM™</h1>


		<h3 class="text-center"><a href="/books">BOOKS</a>&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="/libraries">BRANCHES</a>&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="//patrons">PATRONS</a>&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="/staff-members">STAFF MEMBERS</a>
		</h3>
	</div>
</div>