<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dead Guy Library System&trade;</title>
</head>
<body>
	<%= yield %>
</body>
<footer>
	<p>2100 Crystal Drive, Arlington, VA 22202</p>
	<p>&copy;2016 Dead Guy Library System&trade;</p>
</footer>
<fo
</html>