<h1>Libraries Index</h1>

<ol>
  <% @libraries.each do |library| %>
    <li><a href="/libraries/<%= library.id %>"><%= library.branch %><%= library.address %><%= library.phone_number %></a></li>
  <% end %>
</ol>

<p><a href="/books/new">New Library</a></p>