<div class="col-md-12 col-md">	
	<h1 class="text-center">PATRONS</h1>

	<ul class="text-center">
	  <% @patrons.each do |patron| %>
	    <li><a href="/patrons/<%= patron.id %>"><%= patron.name %></a></li>
	  <% end %>
	</ul>

	<ul class="text-center">
		<li><a href="/patrons/new">NEW PATRON</a></li>
	</ul>
</div>