<% if @patron %>
  <h1><%= @patron.name %></h1>

  <p><em>Email:</em> <%= @patron.email %></p>
  <p><a href="/patrons/<%= @patron.id %>/edit">Edit</a></p>
<% else %>
  <p>No patron of that ID exists</p>
<% end %>


<p><a href="/patrons">Back to All Patrons</a></p>