<div class="col-md-12 col-md">
	<h1 class="text-center">STAFF MEMBERS</h1>

	<ul class="text-center">
	  <% @staff_members.each do |staff_member| %>
	    <li><a href="/staff-members/<%= staff_member.id %>"><%= staff_member.name %></a></li>
	  <% end %>
	</ul>

	<p class="text-center"><a href="/staff-members/new">NEW STAFF MEMBER</a></p>
</div>